.iml
*.iml
*.apk
*.aab
*.crt
output.json
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/overlay_controls/build
/captures
.externalNativeBuild
/MirrorLink_Android_CommonAPI/build/
/app/google-services.json
/app/ApkSign
